<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:name=".DBMSApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DBMS"
        tools:targetApi="31">
        
        <activity
            android:name=".SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SignUpActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ManageStudentsActivity" />
        <activity android:name=".AddStudentActivity" />
        <activity android:name=".EditStudentActivity" />
        <activity android:name=".ViewStudentActivity" />
        
        <!-- Staff Management Activities -->
        <activity android:name=".ManageStaffActivity" />
        <activity android:name=".AddStaffActivity" />
        <activity android:name=".EditStaffActivity" />
        <activity android:name=".ViewStaffActivity" />
        
        <!-- Asset Management Activities -->
        <activity android:name=".ManageAssetsActivity" />
        <activity android:name=".AddAssetActivity" />
        <activity android:name=".ViewAssetActivity" />
        <activity android:name=".EditAssetActivity" />

        <!-- File Provider for sharing reports -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>